.categories{
    @include flexCenter(row, nowrap);
    &__container{
        @include flexCenter(row, wrap);
        align-items: flex-start;
        gap: 25px;
        margin: 50px 30px;
        overflow: hidden;

        .row-element{
            
            @include flexCenter(row, nowrap);
        }

        @include create-mq($bp-md, 'min'){
            @include flexCenter(row, nowrap);
            align-items: flex-start;
            margin: 75px auto 40px;
            padding: 0 20px;
            gap: 0px;

            .row-element{
                padding: 0 20px;
            }
        }
    }
}

.category{
    @include flexCenter(row, nowrap);
    gap: 10px;
    min-width: 140px;
    text-align: center;
    
    
    
    @include create-mq($bp-md, 'min'){
        @include flexCenter(column, nowrap);
        gap: 5px;
        max-width: 140px;
        
        
    }

    &__img{
        width: 25px;
        @include create-mq($bp-md, 'min'){
            width: 40px;
        }
    }

    
        
    
}